
@{
    ViewBag.Title = "Forget Password";
}

<div style="position:relative;bottom:28px;background-image:url('../Content/img/back.png');background-repeat:no-repeat;background-size:100%;min-height:800px;">

    <br /><br /><br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-12 white-text"></div>

            <div class="col-md-5 col-sm-5 col-xs-12 white-text">
                <center>
                    <br />
                    <h1>
                        Make a Arbeit Now for Free
                    </h1>
                    <br />
                    <p style="font-familyDejaVu Sans Condensed;line-height:2;word-spacing:2;letter-spacing:2px;">
                        The price of success is hard work, dedication to the job at hand,
                        and the determination that whether we win or lose, we have applied
                        the best of ourselves to the task at hand.

                    </p>
                </center>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-12 white-text"></div>
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div class="card" style="border-radius:25px;">

                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Forget your password</strong>
                    </h5>

                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">

                        <!-- Form -->
                        <form class="text-center" style="color: #757575;">
                            <br />
                            <!-- Name -->
                            <div class="md-form mt-3">
                                <input type="email" id="materialContactFormName" class="form-control">
                                <label for="materialContactFormName">Email</label>
                            </div>
                                                                               
                            <!-- Send button -->
                            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">CLick to Reset </button>
                            @Html.ActionLink("Login Account", "Login", "Authentication", null, new { @class = "btn btn-success" })

                        </form>
                        <!-- Form -->

                    </div>

                </div>
                <!-- Material form contact -->

            </div>
            <div class="col-md-1 col-sm-1 col-xs-12">

            </div>
        </div>
        <br /><br /><br />
        <div class="row white-text">
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <p style="font-familyDejaVu Sans Condensed;line-height:2;word-spacing:2;letter-spacing:2px;">
                    Documentation specialists are responsible for maintenance of company
                    documents. They are responsible for storage, cataloging and retrieval
                    of documents.
                    They maintain the integrity of working documents and update documentation
                    when revised.
                </p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>

        </div>
    </div>
</div>
<br /><br />
<!-- Material form contact -->
