
@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs- 12">
                <h2>Dashboard</h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3 class="text-info" style="float:right;margin-top:10px;">Mindfire User</h3>
            </div>
        </div>
        <hr />
        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="@Url.Action("Details","Boards", new {id=1})">
                <div class="card card-cascade">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header blue-gradient white-text">
                        
                        <!-- Title -->
                        <h2 class="card-header-title mb-3" align="middle" style="margin-top:10px;">Board Title</h2>
                        <!-- Subtitle -->                       

                    </div>
                
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Text -->
                        <p class="card-text text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                            recusandae. Facere modi sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus
                            
                        </p>
                        <hr />
                        <p class="card-header-subtitle mb-0" style="float:right;font-size:13px;color:gray">23-Jun-2019</p>

                    </div>

                </div>
                </a>
                <!-- Card -->

            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="@Url.Action("Details","Boards")">
                <div class="card card-cascade">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header blue-gradient white-text">
                        
                        <!-- Title -->
                        <h2 class="card-header-title mb-3" align="middle" style="margin-top:10px;">Board Title</h2>
                        <!-- Subtitle -->                       

                    </div>
                
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Text -->
                        <p class="card-text text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                            recusandae. Facere modi sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus
                            
                        </p>
                        <hr />
                        <p class="card-header-subtitle mb-0" style="float:right;font-size:13px;color:gray">23-Jun-2019</p>

                    </div>

                </div>
                </a>
                <!-- Card -->

            </div>
            
            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="@Url.Action("Details","Boards")">
                <div class="card card-cascade">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header blue-gradient white-text">
                        
                        <!-- Title -->
                        <h2 class="card-header-title mb-3" align="middle" style="margin-top:10px;">Board Title</h2>
                        <!-- Subtitle -->                       

                    </div>
                
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Text -->
                        <p class="card-text text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                            recusandae. Facere modi sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus
                            
                        </p>
                        <hr />
                        <p class="card-header-subtitle mb-0" style="float:right;font-size:13px;color:gray">23-Jun-2019</p>

                    </div>

                </div>
                </a>
                <!-- Card -->

            </div>
            
            
            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="@Url.Action("Details","Boards")">
                <div class="card card-cascade">

                    <!-- Card image -->
                    <div class="view view-cascade gradient-card-header blue-gradient white-text">
                        
                        <!-- Title -->
                        <h2 class="card-header-title mb-3" align="middle" style="margin-top:10px;">Board Title</h2>
                        <!-- Subtitle -->                       

                    </div>
                
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Text -->
                        <p class="card-text text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                            recusandae. Facere modi sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus
                            
                        </p>
                        <hr />
                        <p class="card-header-subtitle mb-0" style="float:right;font-size:13px;color:gray">23-Jun-2019</p>

                    </div>

                </div>
                </a>
                <!-- Card -->

            </div>
        </div>

    </div>

<br /><br />