
@{
    Layout = null;
}
<!--Footer Content-->
    <div class="container-fluid blue-gradient white-text">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <br />
                <h3 style="text-decoration:underline">
                    Arbeit Corporation
                </h3><br />
                <p style="word-spacing:1px;letter-spacing:2px;text-align:left">
                    We offer our employees flexible working opportunities in 21 countries worldwide.
                    This covers more than 90 percent of our workforce across all levels of the hierarchy.
                    ahead of our international competitors.
                </p>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <br />
                <h3 style="text-decoration:underline">Developers</h3>
                <br />
                <a>
                    Mo Abjal
                </a><br /><br />
                <a>
                    Dev Bhardwaj
                </a><br />

            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <br />
                <h3 style="text-decoration:underline">Usefull Links</h3>
                <br />
                <a href="" class="white-text">About Us</a><br /><br />
                <a href="" class="white-text">Contact Us</a><br /><br />
                <a href="" class="white-text">Read More About Arbeit</a><br /><br />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <br />
                <h3 style="text-decoration:underline">Reach Us</h3>
                <br />
                <p>
                    Mindfire Solutions<br />
                    6th & 7th Floor, Asotech One<br />

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h6>
                @DateTime.Now.Year &copy; @Html.ActionLink("Arbit.Com", "index", "home", new { style="color:white" }) Reserved All Rights
                </h6>
            </div>
        </div>
    </div>
